{
  "swagger": "2.0",
  "info": {
    "title": "Pub/Sub Console API",
    "version": "2.0"
  },
  "tags": [
    {
      "name": "Console"
    }
  ],
  "host": "pub-sub.kr-central-2.kakaocloud-stg.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/dashboard": {
      "get": {
        "operationId": "Console_GetDashboardInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetDashboardResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Console"
        ]
      }
    },
    "/v2/quota": {
      "get": {
        "operationId": "Console_GetQuota",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetQuotaResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Console"
        ]
      }
    },
    "/v2/service": {
      "get": {
        "operationId": "Console_GetServiceStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2GetServiceStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Console"
        ]
      },
      "post": {
        "operationId": "Console_StartService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Console"
        ]
      }
    },
    "/v2/validateFilter": {
      "post": {
        "operationId": "Console_ValidateFilter",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ValidateFilterResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2ValidateFilterRequest"
            }
          }
        ],
        "tags": [
          "Console"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v2DashboardInfo": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/v2DashboardType"
        },
        "value": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "v2DashboardType": {
      "type": "string",
      "enum": [
        "TOPIC",
        "SUBSCRIPTION"
      ],
      "default": "TOPIC"
    },
    "v2GetDashboardResponse": {
      "type": "object",
      "properties": {
        "dashboardInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2DashboardInfo"
          }
        }
      }
    },
    "v2GetQuotaResponse": {
      "type": "object",
      "properties": {
        "topic": {
          "$ref": "#/definitions/v2Quota"
        },
        "subscription": {
          "$ref": "#/definitions/v2Quota"
        }
      }
    },
    "v2GetServiceStatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/v2ServiceStatus"
        }
      }
    },
    "v2Quota": {
      "type": "object",
      "properties": {
        "limit": {
          "type": "string",
          "format": "int64"
        },
        "remaining": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "v2ServiceStatus": {
      "type": "string",
      "enum": [
        "INACTIVE",
        "ACTIVE"
      ],
      "default": "INACTIVE"
    },
    "v2ValidateFilterRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string"
        }
      }
    },
    "v2ValidateFilterResponse": {
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Access-Token": {
      "type": "apiKey",
      "name": "Access-Token",
      "in": "header"
    },
    "Console-Request": {
      "type": "apiKey",
      "description": "required: cHVic3Vi",
      "name": "Console-Request",
      "in": "header"
    }
  },
  "security": [
    {
      "Access-Token": [],
      "Console-Request": []
    }
  ]
}
